* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/abstract.jpg');
    background-size: cover;
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.8);
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,.1);
    padding: 40px;
    border-radius: 7px;
    width: auto;
    height: 200px;
}

.home h1 {
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 15px;
}

.home button {
    font-size: 32px;
    font-weight: 700;
    color: white;
    background-color: #4bddfa;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.1);
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    
}

.home button:hover {
    cursor: pointer;
    background-color: #ff87db;
    padding: 7px 22px;
}

.game {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(255,255,255,.8);
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,.1);
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin-top: 20px;
}

.game > div {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.spaces {
    border: 1px solid black;
}

.move {
    font-size: 64px;
    font-weight: 800;
}

.icon {
    height: 50px;
    width: auto;
}

.result-container {
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    background-color: rgba(255,255,255,.8);
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 7px;
}

.result-container h2 {
    font-size: 48px;
    text-align: center;
}

.result-container button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background-color: #ff87db;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.1);
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.result-container button:hover {
    background-color: #4bddfa;
    font-weight: 700;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: black;
}

